.buttons-deck {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

form {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

h1 {
    font-family: "Open Sans";
    font-weight: 800;
    font-size: 36px;
    color: #9b9b9b;
}

div {
    font-family: "Open Sans";
}

label, span {
    font-size: 14px;
}

input, select {
    font-size: 19px;
    font-family: "Open Sans";
}

textarea {
    font-size: 19px;
    font-family: "Open Sans";
}

input[type=radio], input[type=checkbox] {
    width: auto;
}

textarea {
    height: 101px;
}

.col-45 {
    width: 45%;
}

.col-22 {
    width: 22%;
}

.input-group {
    display: flex;
    font-weight: bold;
    margin: 10px 0px;
    flex-direction: column;
}

.item {
    font-weight: normal;
}

button {
    font-size: 14px;
    border-radius: 100px;
    width: 165px;
    height: 44px;
    cursor: pointer;
}

button:hover {
    text-decoration: underline;
}

.cancelar {
    border: solid 2.5px #4eb6ff;
    color: #4eb6ff;
    background-color: white;
}

.salvar {
    border: 0px;
    color: white;
    background-color: #13cb65;
}